.edit {
  color: whitesmoke;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 1rem;
  align-self: center;
  padding: .3rem;
  margin-right: 1rem;
}

.delete {
  color: whitesmoke;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 1rem;
  align-self: center;
  padding: .3rem;
}
