.container {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  min-height: 100%;
}


.head {
  display: inline-block;
  margin: 0;
  padding: 1rem;
}

.addButton {
  align-self: flex-start;
  margin-left: 1.3rem;
  margin-bottom: 1rem;
  background-color: cadetblue;
  border-style: none;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.30rem;
}
