.question {
  display: flex;
  flex-direction: column;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.30rem;
  margin: 0.5rem;
  padding: 1rem;
  background-color:white;
}

.questionInput {
  padding: .5rem;
  font-size: 1rem;
  border-radius: .3rem;
  border-style: none;
}

.questionTitle {
  text-align: left;
  font-size: 1.5rem;
}

.buttonContainer {
  align-self: flex-end;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
